
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
}
hr{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #000;

}

.container ion-button{
    margin-top: 20px;
}   

.container ion-button:first-child{
    margin-top: 0;
}

.menu_home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
}

.check{
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background-color: transparent;
    color: black;
    flex: 2;
}

.student-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    top: 0;
    border: 1px solid #000;
}

.student-details p{
    flex: 1 1 calc(33.33% - 20px);
    margin: 0;
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    padding: 10px;

}

.title{
    text-align: center;
    font-size: 30px;
    color: brown;
    margin-top: 12px;
    background-color: transparent;
}



.acedmic_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #000;
}
  
.acedmic_details p{
    flex: 1 1 calc(33.33% - 20px);
    margin: 0;
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    padding: 10px;
}

.Family_Details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #000;
}

.Family_Details p{
    flex: 1 1 calc(33.33% - 20px);
    margin: 0;
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    padding: 10px;
}


/* Add the following CSS to your existing home.css file or create a new one */

/* Course Details Styles */
h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-weight: bold;
  }
  
  tbody tr {
    cursor: pointer;
  }
  
  tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  

.attendence{
    height: 40px;

}